anytree
imageio
imutils
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter-client
jupyter-console
jupyter-core
matplotlib
nbconvert
nbformat
notebook
numpy
opencv-contrib-python==3.4.2.17
Pillow
PyWavelets
qtconsole
scikit-image
scikit-learn
scipy